@media screen {
  max-width: 400px;
  padding: 20px;     
}
html {
    background-color: antiquewhite;
  }
  
  body {
    text-align: center;
    font-size: 18px;
  }
  
  h1 {
    font-size: 50px;
  }
  
  img {
    height: 100%;
  }
  
  div {
    border: 2px solid burlywood;
    margin: 10px;
  }
  
  .introPic {
    align-self: center;
  }
  
  .bio {
    float: right;
  }
  #bio > li {
    list-style-type: none;
    padding: 2px;
  }
  
  .pro {
    width: auto;
  }
  .achievments > li {
    text-align: left;
  }

}
