@media (max-width: 375px) {
  .proCareer {
    border-image-width: auto;
  }
  div {
    margin: 10px 0px 10px 10px
  }

  img {
    align-self: center;
  } 
  h1{
    font-size: 30px;
  } 
  
  }
html {
    background-color: antiquewhite;
  }
  
  body {
    text-align: center;
    font-size: 18px;
  }
  
  h1 {
    font-size: 50px;
  }
  
  img {
    height: 100%;
  }
  
  div {
    border: 2px solid burlywood;
    margin: 10px;
  }
  
  .introPic {
    align-self: center;
  }
  
  .bio {
    float: right;
  }
  #bio > li {
    list-style-type: none;
    padding-left: 2em ;
  }
  
  .proCareer {
    width: auto;
  }
  .achievments > li {
    text-align: left;
  }

}
